<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annuaire</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>Annuaire</header>
<nav>
    <ul>
        <li><a href="{{ url_for('CreerDepartement') }}">Créer Departement</a></li>
        <li><a href="{{ url_for('ListeEntre') }}">Liste des entrées</a></li>
        {% if session['email'] is defined %}
            {% if session['role'] == 100 %}
                <li><a href="{{ url_for('Inscription') }}" id="Inscription">Ajouter un admin</a></li>
            {% endif %}
            <li><a href="{{ url_for('CreateEntry') }}" id="CreateEntry">Créer une entrée</a></li>
            <li><a href="{{ url_for('Deconnexion') }}" id="Deconnexion">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ url_for('Connexion') }}" id="Connexion">Connexion</a></li>
        {% endif %}
    </ul>
</nav>
<section id="main">
    {% block content %} {% endblock %}
</section>
<footer>© 2024 Annuaire</footer>
</body>
</html>

